<!DOCTYPE html>
<html>
<head>
	<title>Pocket.me </title>
	<link rel="stylesheet" type="text/css" href="../../public/css/newNote.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="padding-left: 10px; padding-top: 5px;">
            <h3>
                pocket.me
            </h3>
    </div>
	<div class="container">
		<div class="img">
			<img src="../../public/img/FormUser/undraw_mobile_login_ikmv.svg">
		</div>

		 <div class="login-content">
			<form action="/signup" method="POST">
                <h2 class="title">Regístrate</h2>
                <div class="input-div name">
                    <div class="i">
                            <i class="fas fa-email"></i>
                    </div>
                    <div class="div">
                            <h5>Nombre</h5>
                            <input type="text" class="input" name="name" required>
                    </div>
                 </div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-email"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email:</h5>
           		   		<input type="email" class="input" name="email" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-password"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
                </div>
                <a href="/signin"> ¿Ya tienes cuenta?</a>
				<button type="submit" class="btn" > Enviar </button>
	</div> 


    <script type="text/javascript" src="../../public/js/main.js"></script>
</body>
</html>
