<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket.me</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    
</head>

<body class="container mx-auto px-6">
  <header>
    <section>
        <nav class="flex items-center justify-between flex-wrap pt-4" id="navbar-bg"> 
            <div class=" flex items-center flex-shrink-0 text-black mr-6"> 
               <div class="rounded-md  bg-indigo">
                <a href="/" class="font-semibold medium text-xl tracking-tight me ">Pocket<span class="me">.me</span></a>
                
               </div>
            </div>
           

              <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
                <a href="#" class="whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900">
                  Inicia sesión
                </a>
                <span class="inline-flex rounded-md shadow-sm">
                  <a href="#" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                    Regístrate
                  </a>
                </span>
              </div>                
        </nav>
    </section>
  </header>
     
    <section class="pt-8">
       <div class="grid grid-cols-2 grid-rows-1 ">
          <div>
            <img  class="rounded-lg " src="../public/img/home/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg" alt="Card-presentation">
          </div>

          <div>
            <h2 class="text-5xl tracking-tight leading-10 font-extrabold text-gray-900 text-center">
                Bienvenido a  
                <br class="xl:hidden">
                <span class="text-indigo-600">Pocket.me</span>
              </h2>
          </div>

          <div class="pt-5 col-start-1 col-end-2">
            <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 text-left">
                ¿Cómo funciona?
                <br>
                Aprende a cómo usar Pocket.me
              </h2>
              <br>
                <span><a class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-black text-base leading-6 font-medium rounded-md text-white bg-transparent hover:bg-indigo- focus:outline-none focus:border-black-900 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" href="/"> Aprende más</a></span>
          </div>
         
         
        </div>
       </div>
       
    </section>

   
</body>
</html>